@page
@model Q2_2.Pages.Course.AddsModel
@{
}
<form method="post">
    <div>
        <label>Title:</label>
        <input asp-for="NewCourse.Title" class="form-control" />
    </div>

    <div>
        <label>Description:</label>
        <input asp-for="NewCourse.Description" class="form-control" />
    </div>

    <div>
        <label>Instructor:</label>
        <select asp-for="NewCourse.InstructorId" class="form-control">
            @foreach (var instructor in Model.Instructors)
            {
                <option value="@instructor.InstructorId">@instructor.Name</option>
            }
        </select>
    </div>

    <div>
        <label>Category:</label>
        @foreach (var category in Model.Categories)
        {
            <div>
                <input type="checkbox" asp-for="SelectedCategories" value="@category.CategoryId" />
                <label>@category.CategoryName</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Create New Course</button>
</form